/* .App {
    position: relative;
} */
/* Navbar */
.activeNav {
    color: white!important;
    background-color: #198754;
    border-radius: 4px;
}

/* Banner */
.banner {
    height: 400px;
}

.banner-list {
    background-color: #F0EEF0;
}

.carousel-caption-ban {
    position: absolute;
    bottom: 7.25rem;
    left: 12%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

#footer {
    background-image: url('https://img.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg?w=996&t=st=1675832041~exp=1675832641~hmac=6eba4b7762be5e45f5613634982e0a8a5389199482422ba2cfc4b05015bf90dc')
}

/* pop up */
.pop-button{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    font-size: 2rem;
    background-color: #08a308;
    color: white;
    border: none;
    border-radius: 50%;
    width: 4rem;
    height: 3.5rem;
}

.popup-chat {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
}